<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhong.dao.OrdersMapper">
	<insert id="saveOrder" parameterType="com.zhong.model.Orders">
		insert  into orders values(#{id},#{money},#{receiverinfo},#{paystate},#{ordertime},#{userId});
	</insert>
	
	<resultMap type="com.zhong.model.Orders" id="orderList">
		<!-- 
			订单与订单项:一对多关系
		 -->
		<id column="id" property="id"/>
		<result column="money" property="money"/>
		<result column="receiverinfo" property="receiverinfo"/>
		<result column="paystate" property="paystate"/>
		<result column="ordertime" property="ordertime"/>
		<result column="user_id" property="userId"/>
		
		<!-- 一对多的映射关系 -->
		<collection property="orderItems" ofType="com.zhong.model.OrderItem">
			<id column="order_id" property="orderId"/>
			<id column="product_id" property="productId"/>
			<result column="buynum" property="buynum"/>
			
			<!-- 订单项与商品:一对一 -->
			<association property="product" javaType="com.zhong.model.Products">
				<id column="pid" property="id"></id>
				<result column="name" property="name"/>
				<result column="price" property="price"/>
			</association>
			
		</collection>
	
	</resultMap>
	
	
	<!-- 根据用户id查询订单 -->
	<select id="findOrdersList" parameterType="int" resultMap="orderList">
		select orders.*,order_id,product_id,orderitem.buynum ,products.id pid,products.name ,products.price
		from orders,orderitem ,products
		where 
		orders.id = orderitem.order_id
		and
		orderitem.product_id = products.id
		and
		user_id = #{id};		
	</select>
	
	
</mapper>